<%- include('../partials/header') -%>
<div class="container">
	<div class="row">
		<div class="col-3">
			<h5>YelpCamp</h5>
			<ul class="list-group">
				<li class="list-group-item active">Info 1</li>
				<li class="list-group-item">Info 2</li>
				<li class="list-group-item">Info 3</li>
			</ul>
		</div>
		<div class="col-9">
			<div class="card">
				<img src="<%=campground.image%>" class="card-img-top" alt="..." />
				<div class="card-body">
					<a href="#" class="card-title">
						<strong>
							<%= campground.name %>
						</strong>
					</a>
					<span style="float: right;">
						<strong>$<%=campground.price%>/night</strong>
					</span>
					<p class="card-text">
						<%=campground.description %>
					</p>
					<b> <i>Submitted By <a href="/user/<%=campground.author.id%>"><%= campground.author.username %></a></i></b>
						<% if(currentUser && campground.author.id.equals(currentUser._id) ||(currentUser && currentUser.isAdmin)) { %>
					<div>
						<a href="/campgrounds/<%=campground._id%>/edit" class="btn btn-warning">Edit</a>
						<form id="delete-form" action="/campgrounds/<%=campground._id%>/?_method=DELETE" method="POST">
							<button class="btn btn-danger">
								Delete
							</button>
						</form>
					</div>
			<%}%>
				</div>
				<p></p>
			</div>
			<div class="bg-light" style="padding: 10 20 10 20; margin: 10 0 10 0;">
				<a
					class="btn btn-success"
					style="float: right;"
					href="/campgrounds/<%=campground._id%>/comments/new"
					>Add New Comment
				</a>
				<br />
				<hr />
				<% campground.comments.forEach(function(comment){ %>
				<div>
					<div>
						<strong><%= comment.author.username%></strong>
				
					</div>
					<span style="float: right;">10 days ago</span>
					<%=comment.text%>
					<%if(currentUser && comment.author.id.equals(currentUser._id)||(currentUser && currentUser.isAdmin)){%>
					<div>						
						<a class="btn btn-warning btn-sm" href="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>/edit">Edit</a>
					<form id="delete-form" action="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>/?_method=Delete" method="POST">
						<button class="btn btn-sm btn-danger">
							Delete
						</button>
						</form>
					</div>
					<%}%>
				</div>
				<hr />
				<% }); %>
			</div>
		</div>
	</div>
</div>

<%- include('../partials/footer') -%>